


 #s{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
#s:hover{
    background-color: black;
    color: white;
}


#m{
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-top: -20%;
}
#m:hover{
    background-color: black;
    color: white;
}


.dropdown5{
    display: flex; 
    justify-content:space-between;
    margin-bottom: 32%;
}

.dropdown5 div{
    margin-left: 1%;
}

.excelBtns div{
    display: flex;
    flex-direction: row;

}

