body{
    font-family: "Poppins", sans-serif;
    background-color: #c4c4c4c9;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}

h1,h2,h3{
    color: black;
}

h4{
    color: black;
    text-align: center;
}

img {
    border-radius: 60%;
    color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
  }

  .img {
    text-align: center;
    height: fit-content;
  }

  .img img{
    border-radius:0 ;
    height: 60vh;
  }



section{
   
   /* background-color: #151515d8; */
    height: 100vh;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    
}

.sec{
    min-height: 100vh;
    height: fit-content;
}

.header{
   
    width: 100%;
    height: 10vh;
    
    
    /* background-color:red; */
}
.content1{
    width: 100%;
    height: fit-content;
    
    
    /* background-color:red; */
    
}

.top h2{
    margin-top: 2%;
    text-align: center;
}

.selectButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: center; */
    margin-top: 2%;
    margin-bottom: 3%;
}

.mainCard{
    width: 100%;
    height: fit-content;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    align-items: center;
    justify-content: center;
   
    
}

.blank{
    display: none;
}



.image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}
.userDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}

.profileCard ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 48px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255,255, .1);
    border-bottom: 1px solid black;
    transition: .4s;
    
}


footer{
    background-color: white;
    /* width: 100vh; */
    margin-top: 5%;
    padding: 30px;
}

footer h4{
    color: black;
    text-align: center;
}


#icons{
    margin-right: 5px;
}



#dropdown{
    color: black;  
  }
#profilePicSmall{
    width:50px;
    height:50px;
    float: left;
    border: solid white;
    margin-right: 10px;
    
  }

  #bell{
    /* width: 30px; */
    margin-right: 20px;
    color: black;
    font-size: 30px;
  }



  #copyright{
    width: 15px;
    margin-left: 5px;
    margin-right: 5px;
    color: black;    
  }

  #profilePic{
    margin-top: 20px;
    margin-bottom: 40px;
    width: 200px;
    height: 200px;
   border: solid white;

  }



      
 .btn {
    margin-top: 30px;
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
  }

  .show-more{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
.btn1{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */

    /* margin-left: 36%; */
    margin-top: 3%;
    background-color: #f1f1f1;
    color: black;
    font-size: medium;
    font-weight: bold;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
 

}
   .btn:hover {
    background-color: black;
    color: white;
  }
  .btn1:hover{
    background-color: black;
    color: white;

  }

.black{
    margin-top: 30px;

    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(11, 175, 175);
    color: white;
}

.licenseApplications, .licenseCancellations, .songRegistrations, .songOwnership, .songRemoval{
   
    width: 99%;
}
  


  
/* 1180 */

@media screen and (max-width:1180px){



    .selectButtons{
        flex-direction: column;
    }

    .profileCard h2{
        text-align: center;
        margin-bottom: 25%;

    }

    .imput, .datePick{
        width: 50%;
    }



    .img{
        display: none;
    }

    .content1{
        flex-direction: column;
        height: fit-content;
        min-height: 100vh;
    }

    .mainCard{
        /* background-color: red; */
        margin-top: 5%;
    }

    .profileCard{
        height: fit-content;
        width: 75%;
        margin-left: 15%;
    }
    .licenseApplications, .licenseCancellations, .songRegistrations, .songOwnership, .songRemoval{
        /* display: flex; */
        /* justify-content: center; */
        /* align-content: center; */
        /* align-self: center; */
        flex-direction: column;
        /* background-color: khaki;  */
        width: 100%;
    }

}


@media screen and (max-width:700px){

    .profileCard{
        flex-direction: column;
        width: 80%;
        margin-left: 10%;
    }

    .buttons{
        flex-direction: row;
        margin-bottom: 3%;
    }

    #accept{
        margin-right: 10%;

    }

}

/* 
@media screen and (max-width:550px){

    section{
        max-height: 100vh;
    }
    .profileCard h2{
        text-align: center;
        font-size: 22px;
        margin-bottom: 10vh;
    }
    .profileCard input{
        width: 80%;
        margin-bottom: 10%;
    }

    .first h2{
        font-size: 20px;
    }

}
 */




  /* /*
@media screen and (max-width:1180px){
 
    body{
        margin: 0;
        padding: 0;
        
        
    }

    
    section{
        width: 100%;
        height: 350vh;
        box-sizing: border-box;
        overflow: hidden;
    }
   
     .sidebar{
        position: fixed;
        left:-100%;
        width:100%;
        height:100%;
        background: #151515;
        transition: all .5s ease;
    }
    label #btn{
        left:20px;
       
    }
    label #cancel{
        z-index: 1111;
        left: -195px;
        
        top:17px;
        font-size: 30px;
        background: white;
        padding: 4px 9px;
        transition: all .5s ease;
      
    }
    #check:checked ~ label #cancel{
        left: 300px;
        margin-left: 0;
        
    }
    header{
      display: flex;
      justify-content: left;
      align-items: center;
      margin-left: 40px;
    }
    
    .header{
        width: 100vw;
        height: 10vh;
    }
    .first{
        width: 100%;
        height: 10vh;
        margin-left: 100px;
    }
    
    .second{
        display: none;
        
    }
    
    .content1{
        width: 100%;
        height: 350vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .mainCard{
        width: 100%;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color:purple;
       
        
    }
    
    .profileCard{
        margin-top: 0;
        width: 100%;
        height: 80vh;
        margin-left: 0;
        
    }
    
    
    
        
         
}     */
