@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400);
/* body {
  color: #666666;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
} */
#notification{
    width: 40%;
    height: 50%;
    margin-top: 10%;
    /* background: burlywood; */
}
.mainContent{
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.content4{
    display: flex;
    flex-direction: row;
    min-height: 60vh;
    max-width: 120vh;
    /* width: 80%; */
    /* background: burlywood; */
}
.panel {
  height: 80%;
  
  width: 60%;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  overflow-y: scroll; /* Add the ability to scroll */
 /* display: flex; */
 
  
}
.panel .header {
  height: 60px;
  width: 100%;
  /* background: #1B95E0; */
  background: rgb(11, 175, 175);


}
.panel .header .menu-icon {
  position: absolute;
  width: 29px;
  height: 15px;
  top: 23px;
  left: 20px;
  cursor: pointer;
}
.panel .header .menu-icon:hover .dash-top, .panel .header .menu-icon:hover .dash-bottom,
.panel .header .menu-icon:hover .dash-bottom,
.panel .header .menu-icon:hover .circle {
  background: #fff;
}
.panel .header .menu-icon .dash-top, .panel .header .menu-icon .dash-bottom {
  position: absolute;
  width: 20px;
  height: 3px;
  top: 0;
  left: 0;
  background: #B2DAFF;
  border-radius: 3px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.panel .header .menu-icon .dash-bottom {
  width: 29px;
  top: auto;
  bottom: 0;
}
.panel .header .menu-icon .circle {
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 4px;
  top: -2px;
  right: 0;
  background: #B2DAFF;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.panel .header .title {
  display: block;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
}
.panel .notifications {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.panel .notifications .line {
  position: absolute;
  top: 0;
  left: 27px;
  bottom: 0;
  width: 3px;
  background: #EBEBEB;
}
.panel .notifications .notification {
  position: relative;
  z-index: 2;
  margin: 25px 20px 25px 43px;
}
.panel .notifications .notification:nth-child(2) {
  -webkit-animation: here-am-i 0.5s ease-out 0.4s;
          animation: here-am-i 0.5s ease-out 0.4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.panel .notifications .notification:nth-child(3) {
  -webkit-animation: here-am-i 0.5s ease-out 0.6s;
          animation: here-am-i 0.5s ease-out 0.6s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.panel .notifications .notification:nth-child(4) {
  -webkit-animation: here-am-i 0.5s ease-out 0.8s;
          animation: here-am-i 0.5s ease-out 0.8s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.panel .notifications .notification:nth-child(5) {
    -webkit-animation: here-am-i 0.5s ease-out 1.2s;
            animation: here-am-i 0.5s ease-out 1.2s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }

  .panel .notifications .notification:nth-child(6) {
    -webkit-animation: here-am-i 0.5s ease-out 1.4s;
            animation: here-am-i 0.5s ease-out 1.4s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }

  .panel .notifications .notification:nth-child(7) {
    -webkit-animation: here-am-i 0.5s ease-out 1.6s;
            animation: here-am-i 0.5s ease-out 1.6s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
/* .panel .notifications .notification:hover {
  color: #1B95E0;
  cursor: pointer;
} */

.notifications i:hover {
  color: #ff0000;
  cursor: pointer;
}

.panel .notifications .notification .circle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  height: 11px;
  width: 11px;
  background: #fff;
  border: 2px solid #1B95E0;
  -webkit-box-shadow: 0 0 0 3px #fff;
          box-shadow: 0 0 0 3px #fff;
  border-radius: 6px;
  top: 0;
  left: -20px;
}

.panel .notifications .notification .circle.active {
  background: #1B95E0;
}

.panel .notifications .notification .time {
  display: block;
  font-size: 11px;
  line-height: 11px;
  margin-bottom: 2px;
}
.panel .notifications .notification p {
  font-size: 15px;
  line-height: 20px;
  margin: 0;
}
.panel .notifications .notification p b {
  font-weight: 600;
}

#notiDIV{
  display: flex;
  flex-basis: 0;
  /* flex-direction: row; */
  /* justify-content:first baseline; */
  /* justify-content:space-between; */
}

#left{
  /* background-color: rgb(255, 0, 221); */
  /* max-width: 100vh; */
  /* margin-left: 5%; */
}

#left p{
  /* background-color: rgb(255, 0, 221); */
  max-width: 52vh;
  /* margin-left: 5%; */
}

#right{
  /* background-color: blue; */
  margin-left: 10rem;
}

@-webkit-keyframes here-am-i {
  from {
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes here-am-i {
  from {
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@media all and (max-width: 767px) {

    #notification{
        display: none;
    }
     .panel{
      height: fit-content;
     }

     .first{
         display: none;
     }

}


