.mainContent{
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background-color: yellow;

    /* background-color: blueviolet; */
}

.dropdown4{
    width: 100%;
    height: 20vh;
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    // margin-top: 0;
    // background-color: yellow;



  .center {
      
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    // top: 50%; left: 50%;
    // transform: translate(-50%, -50%);
  }
  
  /** Custom Select **/
  .custom-select-wrapper {
    position: relative;
    display: inline-block;
    user-select: none;
  }
    .custom-select-wrapper select {
      display: none;
    }
    .custom-select {
      position: relative;
      display: inline-block;
    }
      .custom-select-trigger {
        position: relative;
        display: block;
        width: 430px;
        padding: 0 84px 0 22px;
        font-size: 22px;
        font-weight: 300;
        color: #fff;
        line-height: 60px;
        background: rgb(11, 175, 175);
        border-radius: 4px;
        cursor: pointer;
      }
        .custom-select-trigger:after {
          position: absolute;
          display: block;
          content: '';
          width: 10px; height: 10px;
          top: 50%; right: 25px;
          margin-top: -3px;
          border-bottom: 1px solid #fff;
          border-right: 1px solid #fff;
          transform: rotate(45deg) translateY(-50%);
          transition: all .4s ease-in-out;
          transform-origin: 50% 0;
        }
        .custom-select.opened .custom-select-trigger:after {
          margin-top: 3px;
          transform: rotate(-135deg) translateY(-50%);
        }
    .custom-options {
      position: absolute;
      display: block;
      top: 100%; left: 0; right: 0;
      min-width: 100%;
      margin: 15px 0;
      border: 1px solid #b5b5b5;
      border-radius: 4px;
      box-sizing: border-box;
      box-shadow: 0 2px 1px rgba(0,0,0,.07);
      background: #fff;
      transition: all .4s ease-in-out;
      
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transform: translateY(-15px);
    }
    .custom-select.opened .custom-options {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transform: translateY(0);
    }
      .custom-options:before {
        position: absolute;
        display: block;
        content: '';
        bottom: 100%; right: 25px;
        width: 7px; height: 7px;
        margin-bottom: -4px;
        border-top: 1px solid #b5b5b5;
        border-left: 1px solid #b5b5b5;
        background: #fff;
        transform: rotate(45deg);
        transition: all .4s ease-in-out;
      }
      .option-hover:before {
        background: #f9f9f9;
      }
      .custom-option {
        position: relative;
        display: block;
        padding: 0 22px;
        border-bottom: 1px solid #b5b5b5;
        font-size: 18px;
        font-weight: 600;
        color: #b5b5b5;
        line-height: 47px;
        cursor: pointer;
        transition: all .4s ease-in-out;
      }
      .custom-option:first-of-type {
        border-radius: 4px 4px 0 0;
      }
      .custom-option:last-of-type {
        border-bottom: 0;
        border-radius: 0 0 4px 4px;
      }
      .custom-option:hover,
      .custom-option.selection {
        background: #f9f9f9;
      }



}

.chart{
    min-width: 100%;
    // width: fit-content;
    
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #5c9cd8;


}

.submit{

    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
      // position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      .check{
        display:none;
      }
      .btn{
        text-transform: uppercase;
        // color: #fff;
        color: black;
        border: 2px solid #cb134e;
        display: inline-block;
        padding: 15px;
        padding-right: 50px;
        padding-left: 50px;
        border-radius: 3px;
        cursor: pointer;
        overflow: hidden;
        box-sizing: border-box;
        font-size:14px;
        transition: all .3s ease;
        .mo{
          position:relative;
          overflow:hidden;
          bottom: -150px;
          width:0px;
          height:0px;
          text-align:center;
          display: inline-block;
           opacity:0;
          color: #272727;
        }
        &:before{
          width:0%;
          position: absolute;
          left:0;
          bottom:3px;
          height: 5px;
          background-color: #cb134e;
          content: "";		
        }
        &:after{
          width:100%;
          height:0%;
          position:absolute;
          bottom:3px;
          left:0;
          background-color: #cb134e;
          content: "Download complete";
          overflow:hidden;
          text-align:center;
          line-height: 180px;
          display: flex;
          justify-content: center;
          align-items: center;
          // display: none;
          // transition: all .3s ease-in-out;
          // display: flex;
        }
        
        &:hover{
          background-color: #cb134e;
          color: #060e33;
        }
      }
      input[type=checkbox]:checked ~ .btn{
          background: #ddced9;
          background: #00000000;
        //  background: white;
          border-radius: 0px;
          border: none;
          padding-top: 70px;
          padding-bottom: 70px;
          padding-left: 200px;
          padding-right: 200px;
          // box-shadow: 2px 3px 5px solid gray;
          z-index: 1;
          transition: all .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
          
          &:before{
            width:100%;
            content: "";
            color: #fff;
            text-align: center;
            line-height: 70px;
            transition: all 3.5s linear;
          }
          &:after{
            height:calc(100% - 3px);
            color: #060e33;
            transition: all .3s ease-in-out;
            transition-delay: 3.5s;
          }
          .me{
            display:none;
          }
          .mo{
            transition:bottom .4s ease, opacity 1s ease;
            transition-delay:.3s;
            height: auto;
            width:auto;
            bottom: 0px;
            opacity: 1;
          }

        }
    }
    /* background-color: yellow; */


}



    